<h3>
    <a href="{{{backurl}}}" class="actionBtn">返回管理员列表</a>
    <p>{{{title}}}</p>
</h3>
<form>
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
		<tr>
			<td  width="90" align="right">clubid</td>
			<td align="right"><input type="text" name="clubid" id="clubid" value="{{row.clubid}}" size="50" class="inpMain" /></td>
		</tr>
		<tr>
			<td  width="90" align="right">creator</td>
			<td align="right"><input type="text" name="creator" id="creator" value="{{row.creator}}" size="50" class="inpMain" /></td>
		</tr>
		<tr>
			<td  width="90" align="right">desc</td>
			<td align="right"><input type="text" name="desc" id="desc" value="{{row.desc}}" size="50" class="inpMain" /></td>
		</tr>
		<tr>
			<td  width="90" align="right">ctime</td>
			<td align="right"><input type="text" name="ctime" id="ctime" value="{{row.ctime}}" size="50" class="inpMain" /></td>
		</tr>
		<tr>
			<td  width="90" align="right">levels</td>
			<td align="right"><input type="text" name="levels" id="levels" value="{{row.levels}}" size="50" class="inpMain" /></td>
		</tr>
		<tr>
			<td  width="90" align="right">jifen</td>
			<td align="right"><input type="text" name="jifen" id="jifen" value="{{row.jifen}}" size="50" class="inpMain" /></td>
		</tr>
		<tr>
			<td  width="90" align="right">golds</td>
			<td align="right"><input type="text" name="golds" id="golds" value="{{row.golds}}" size="50" class="inpMain" /></td>
		</tr>
		<tr>
			<td  width="90" align="right">activity</td>
			<td align="right"><input type="text" name="activity" id="activity" value="{{row.activity}}" size="50" class="inpMain" /></td>
		</tr>
		<tr>
			<td  width="90" align="right">sname</td>
			<td align="right"><input type="text" name="sname" id="sname" value="{{row.sname}}" size="50" class="inpMain" /></td>
		</tr>
		<tr>
			<td  width="90" align="right">adminusers</td>
			<td align="right"><input type="text" name="adminusers" id="adminusers" value="{{row.adminusers}}" size="50" class="inpMain" /></td>
		</tr>
		<tr>
			<td  width="90" align="right">unions</td>
			<td align="right"><input type="text" name="unions" id="unions" value="{{row.unions}}" size="50" class="inpMain" /></td>
		</tr>
		<tr>
			<td  width="90" align="right">icourl</td>
			<td align="right"><input type="text" name="icourl" id="icourl" value="{{row.icourl}}" size="50" class="inpMain" /></td>
		</tr>
		<tr>
			<td  width="90" align="right">olnums</td>
			<td align="right"><input type="text" name="olnums" id="olnums" value="{{row.olnums}}" size="50" class="inpMain" /></td>
		</tr>
		<tr>
			<td  width="90" align="right">unums</td>
			<td align="right"><input type="text" name="unums" id="unums" value="{{row.unums}}" size="50" class="inpMain" /></td>
		</tr>
		<tr>
			<td  width="90" align="right">roomcount</td>
			<td align="right"><input type="text" name="roomcount" id="roomcount" value="{{row.roomcount}}" size="50" class="inpMain" /></td>
		</tr>
		<tr>
			<td  width="90" align="right">allianceid</td>
			<td align="right"><input type="text" name="allianceid" id="allianceid" value="{{row.allianceid}}" size="50" class="inpMain" /></td>
		</tr>
		<tr>
			<td  width="90" align="right">alliancename</td>
			<td align="right"><input type="text" name="alliancename" id="alliancename" value="{{row.alliancename}}" size="50" class="inpMain" /></td>
		</tr>
		<tr>
			<td  width="90" align="right">endtime</td>
			<td align="right"><input type="text" name="endtime" id="endtime" value="{{row.endtime}}" size="50" class="inpMain" /></td>
		</tr>
		<tr>
			<td  width="90" align="right">msgcount</td>
			<td align="right"><input type="text" name="msgcount" id="msgcount" value="{{row.msgcount}}" size="50" class="inpMain" /></td>
		</tr>
		<tr>
			<td  width="90" align="right">alliancemsgcount</td>
			<td align="right"><input type="text" name="alliancemsgcount" id="alliancemsgcount" value="{{row.alliancemsgcount}}" size="50" class="inpMain" /></td>
		</tr>
		<tr>
			<td  width="90" align="right">forsearch</td>
			<td align="right"><input type="text" name="forsearch" id="forsearch" value="{{row.forsearch}}" size="50" class="inpMain" /></td>
		</tr>
		<tr>
			<td  width="90" align="right">alertgolds</td>
			<td align="right"><input type="text" name="alertgolds" id="alertgolds" value="{{row.alertgolds}}" size="50" class="inpMain" /></td>
		</tr>
		<tr>
			<td  width="90" align="right">alerted</td>
			<td align="right"><input type="text" name="alerted" id="alerted" value="{{row.alerted}}" size="50" class="inpMain" /></td>
		</tr>
		<tr>
			<td  width="90" align="right">alertmsgcount</td>
			<td align="right"><input type="text" name="alertmsgcount" id="alertmsgcount" value="{{row.alertmsgcount}}" size="50" class="inpMain" /></td>
		</tr>
		<tr>
			<td>&nbps;</td>
			<td align="right"><input name="submit" id="submit" class="btn" type="button" value="提交" /></td>
		</tr>
    </table>
</form>
<script>
    var edit = {{ edit }};
    var url = '{{posturl}}';
    $("#submit").click(function () {
        var e = false;
        var o = $("form").serializeJson();
        do {
            if (!edit) {

            }

            if (e) {
                break;
            }
            $.ajax({
                url: url,
                method: 'POST',
                dataType: 'json',
                data: o,
                error: function () { },
                success: function (response) {
                    $("#err_total").text(response.errmsg).show();
                }
            })
        } while (false);
    });
</script>