<div class="clear"></div>
<div class="pager">总计 {{record_count}} 个记录，共 {{max_page}} 页，当前第 {{curr_page}} 页 |
    <a href="{{url_page_p1}}">第一页</a>
    <a href="{{url_page_p2}}">上一页</a>
    <a href="{{url_page_p3}}">下一页</a>
    <a href="{{url_page_p4}}">最末页</a>
</div>