<h3>
    <a href="{{{backurl}}}" class="actionBtn">返回管理员列表</a>
    <p>{{{title}}}</p>
</h3>
<form>
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
		<tr>
			<td  width="90" align="right">allianceid</td>
			<td align="right"><input type="text" name="allianceid" id="allianceid" value="{{row.allianceid}}" size="50" class="inpMain" /></td>
		</tr>
		<tr>
			<td  width="90" align="right">status</td>
			<td align="right"><input type="text" name="status" id="status" value="{{row.status}}" size="50" class="inpMain" /></td>
		</tr>
		<tr>
			<td  width="90" align="right">clubid</td>
			<td align="right"><input type="text" name="clubid" id="clubid" value="{{row.clubid}}" size="50" class="inpMain" /></td>
		</tr>
		<tr>
			<td  width="90" align="right">ctime</td>
			<td align="right"><input type="text" name="ctime" id="ctime" value="{{row.ctime}}" size="50" class="inpMain" /></td>
		</tr>
		<tr>
			<td  width="90" align="right">uid</td>
			<td align="right"><input type="text" name="uid" id="uid" value="{{row.uid}}" size="50" class="inpMain" /></td>
		</tr>
		<tr>
			<td  width="90" align="right">clubcreator</td>
			<td align="right"><input type="text" name="clubcreator" id="clubcreator" value="{{row.clubcreator}}" size="50" class="inpMain" /></td>
		</tr>
		<tr>
			<td  width="90" align="right">isadmin</td>
			<td align="right"><input type="text" name="isadmin" id="isadmin" value="{{row.isadmin}}" size="50" class="inpMain" /></td>
		</tr>
		<tr>
			<td  width="90" align="right">alliancecreator</td>
			<td align="right"><input type="text" name="alliancecreator" id="alliancecreator" value="{{row.alliancecreator}}" size="50" class="inpMain" /></td>
		</tr>
		<tr>
			<td>&nbps;</td>
			<td align="right"><input name="submit" id="submit" class="btn" type="button" value="提交" /></td>
		</tr>
    </table>
</form>
<script>
    var edit = {{ edit }};
    var url = '{{posturl}}';
    $("#submit").click(function () {
        var e = false;
        var o = $("form").serializeJson();
        do {
            if (!edit) {

            }

            if (e) {
                break;
            }
            $.ajax({
                url: url,
                method: 'POST',
                dataType: 'json',
                data: o,
                error: function () { },
                success: function (response) {
                    $("#err_total").text(response.errmsg).show();
                }
            })
        } while (false);
    });
</script>